@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url(Preloader.css);
@import url(Calendario.css);
@import url(VentanaIniSesion.css);
@import url(BotonHaciaArriba.css);
@import url(Reloj.css);


*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
}

.cabecera{
    
      background-color: #01040f;
      text-align: right; 
      width: 100%;
     
}

.contenedor{
     
     display: flex;
  /*   justify-content: space-between;*/
     align-items: center;
     height: 70px;
     
}

.contenedor input{
      height: 50px;
      border-radius: 10%;
      
}
.nave ul{
      margin: 0px 10px;
      padding: 0;
      list-style: none;
      
}
.nave ul li{
      display: inline-block;
      
}

.nave ul li a{
      color: aliceblue;
      display: block;
      padding: 8px 12px;
     /* margin: 0px 3px;*/
      text-decoration: none;
      transition: all 0.8s linear;
      border-radius: 10px;}

.nave ul li a:hover{
      background-color:aliceblue;
      color: black;
      cursor: pointer;
}






header h1{
      letter-spacing: 3px;
      color: aliceblue;
      text-align: left;
      padding: 15px;
}

@media  screen and (max-width: 500px) {

      .cabecera{
            height: 100px;
           
      }

      .contenedor{
            height: 100px;
           
      }

      .contenedor input{
            height: 90px;
      }

}

@media  screen and (max-width: 376px) {

      .cabecera{
            height: 110px;
           
      }

      .contenedor{
            height: 110px;
           
      }

      .contenedor input{
            height: 95px;
      }

      .nave ul li{
            display: center;
      }

}



.contenedor_img{
      text-align: center;
      background-image: url('/imagenes/Noruega-Fondo.jpg'); 
      width: 100%;
      background-size: cover;
      height: 570px;
      
}

.buscador h1{
            color: aliceblue;
            font-size: 70px;
}

.buscador h2{
      color: aliceblue;
      font-size: 30px;
      margin-bottom: 30px;
}

.buscador{
    /*  position: relative;*/
      width: 100%px;
     /* margin: auto;*/
      padding-top: 100px;
      padding-left: 90px;
      padding-right: 90px;
    /*  align-items: center;*/
     
}


.Buscador_Adentro{
      align-items: center;
      margin: auto;
      width: 620px;
      background-color:white;
      border: 1px solid silver;
      border-radius: 15px;
      
}






.buscador input{
      width: 550px ;
      height: 50px;
      padding: 0px 15px;
      font-size: 15px;
      color: black;
      outline: none;
      border: none;
      border-radius: 15px;
      
}

@media screen and (max-width: 800px) {

      .contenedor_img{
           
            margin: 0;
            padding: 0;
      }

      .Buscador_Adentro{
            width:350px;
      }

      .buscador input{
            width: 300px;
      }
      
      .buscador h1{
            color: aliceblue;
            font-size: 55px;
      }

      .buscador h2{
      color: aliceblue;
      font-size: 25px;
      
      }

}

@media only screen and (max-width: 778px) {

      

      .buscador{
            
            width: 100%;
            margin:none;
      }

      .Buscador_Adentro{
            width: 234px;
            justify-content: center;
      }

      .buscador input{
            width: 150px;
      }
      
      .buscador h1{
              
            color: aliceblue;
            font-size: 40px;
            
            
      }

      .buscador h2{
      margin-top: 15px;
      color: aliceblue;
      font-size: 25px;
      
      }

}

@media  screen and (max-width: 413) {

      .Buscador_Adentro{
            width:120px;
            justify-content: center;
      }

      .buscador input{
            width: 70px;
            justify-content: center;
            margin-bottom: 6px;
            margin-right: 4px;
      }
      
      .buscador h1{
            color: aliceblue;
            font-size: 18px;
      }

      .buscador h2{
      color: aliceblue;
      font-size: 11px;
      
      }

}

@media  screen and (max-width: 376) {


      
      .Buscador_Adentro{
            width: 100px;
            justify-content: center;
           
            
      }

      .buscador input{
            width: 60px;
            justify-content: center;
            
           
           
      }
      
      .buscador h1{
            color: aliceblue;
            font-size: 5px;
            
      }

      .buscador h2{
      color: aliceblue;
      font-size: 4px;
     

      
      }

}


img{
      width: 100%;
      border-radius: 10px;
      
}
 
.fila{
     
      display: flex;
      padding: 5px;
      flex-wrap: wrap;
      
      
      
}

.columna {
     
      flex: 25px;
      padding: 5px;
      margin-top: 5px;
}

@media (max-width:900px){
      .columna{
            flex: 50%;
      }
}

@media (max-width:500px){
      .columna{
            flex: 100%;
      }
}



.footer{

     width: 100%;
     background-color: #01040f;
     display: flex;
     margin: auto;
     color: aliceblue;
     font-family: 'Montserrat', sans-serif;
     justify-content: center;
      margin-top: 50px;
      position: relative;
      bottom: 0%;
}



.Columna1Footer{
      max-width: 400px;
}

.Columna1Footer,h3{
      text-align: center;
      padding: 5px;
      margin: auto;
}

.Columna1Footer , p{
      margin: 5px;
      padding: 5px;
      margin-left: 10px;
}



.Columna2Footer{
      width: 400px;
}

.Columna2Footer,h3{
      padding: 5px;
      margin-left: 10px;
    
      text-align: center;
}

.Columna2Footer .FilaSocial{
      margin-top: 10px;
      display: flex;
}

.FilaSocial img{
      width: 40px;
      height: 40px;
      margin-left: 125px;
}

.Columna3Footer{
     justify-content: center;
    width: 400px;
      
}

.Columna3Footer,h3{
      padding: 5px;
      margin-left: 10px;
      text-align: center;
}

.Columna3Footer , label{
     
      margin-left: 15px;
      padding-top: 5px;
      
}

.Ubicacion label{
    
      text-align: center;
      margin-bottom: 10px;
}

.Ubicacion img{
      
      width: 30px;
      height: 30px;
}

@media  screen and (max-width: 800px) {

      .footer{
            flex-wrap: wrap;
      }
      
}

.cuerpo{
      overflow: hidden;
}


.precarga{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.lds-spinner {
      color: official;
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-spinner div {
      transform-origin: 40px 40px;
      animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
      content: " ";
      display: block;
      position: absolute;
      top: 3px;
      left: 37px;
      width: 6px;
      height: 18px;
      border-radius: 20%;
      background:#01040f;
    }
    .lds-spinner div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
    }
    @keyframes lds-spinner {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    